@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../src/fonts/LatoBold.ttf") 
}

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../src/fonts/LatoRegular.ttf") 
}

@font-face {
  font-family: "PT-Web-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../src/fonts/PT_Serif-Web-Bold.ttf") 
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.clearfix:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header {
	background: #fbf7e0;
	padding-top: 9px;
	&__logo {
		float: left;
		padding-top: 7px;
    	margin-right: 27px;
	}
	&__title {
		float: left;
		max-width: 300px;
		margin-top: 4px;
		& p {
			margin-top: 0;
			color: #2e2e2e;
			font-family: "Lato-Regular";
			font-size: 16px;
			font-weight: 400;
		}
	}
}

.header__phone {
	float: right;
	& a {
		color: #2e2e2e;
		font-family: 'Lato-Bold';
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		margin-right: 25px;
	}
	& button {
		color: #66275e;
	    font-family: "Lato-Regular";
	    font-size: 15px;
	    outline: none;
	    text-decoration: none;
	    border-radius: 20px;
	    border: solid 1px #66275e;
	    transition: all ease .5s;
	    background: 0 0;
	    padding: 4% 0;
	    margin-right: -3px;
	    line-height: 14px;
	    width: 271px;
        cursor: pointer;
    	&:hover {
    		color: #fff;
    		background: #66275e;
    	}
	}
}

.header__mobile {
	display: none;
}
.header__language {
	font-size: 13.37px;
    width: 36px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #66275e;
    text-decoration: none;
    color: #66275e;
}

.active {
	background: #66275e;
	color: #fff;
	border: 1px solid #fdb0f6;
}

.banner {
	background: url('../img/banner_bg.jpg');
	background-repeat: no-repeat;
    background-position: center top;
    padding: 41px 0 76px;;
    box-sizing: border-box;
    background-size: cover;
}

.wrapper__banner {
	width: 59%;
	& h1 {
		color: #5a1b52;
		font-family: 'PT Serif Caption', serif;
		font-size: 65px;
		line-height: 60px;
		margin-top: 0;
		font-weight: 400;
		margin-bottom: 28px;
	}
	& h2 {
		color: #5a1b52;
		font-family: 'Lato-Bold';
		font-size: 30px;
		font-weight: 700;
		margin-right: 30%;
		margin-bottom: 20px;
	}
	& ul {
		padding-left: 20px;
	}
}

.wrapper__banner .banner__item {
	font-size: 30px;
    color: #5a1b52;
    margin-bottom: .4rem;
    font-family: 'Lato-Bold';
    & span {
    	font: 20px "Lato-Bold";
	    color: #383438;
	    position: relative;
    }
}

.wrapper__banner button,
.earn__item-content button {
	text-shadow: 2px 1px rgba(0,0,0,.95);
    color: #fff;
    font-family: 'Lato-Bold';
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: 0 3px 16px rgba(44,35,20,.5);
    background-image: linear-gradient(to bottom, #8f3f84, #67275f);
    border: 1px solid #3e0d37;
    padding: 22px 57px 19px;
    border-radius: 32px;
    margin-top: 14px;
    letter-spacing: 1.2px;
    z-index: 2;
    position: relative;
    &:hover {
    	background-image: linear-gradient(to top, #8f3f84, #67275f);
    	transition: all ease .3s;
    	cursor: pointer;
    }
}

.wrapper__banner button:hover {
	background-image: linear-gradient(to top, #8f3f84, #67275f);
}

.present {
	padding-top: 36px;
    text-align: center;
    position: relative;
    background-image: url(../img/earn-bg.png);
    background-position: right bottom;
    padding-bottom: 107px;
    background-repeat: no-repeat;
    bottom: -67px;
}

.present:before {
	content: "";
    background-image: url(../img/present-left.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    width: 100%;
    height: 1513px;
    top: -161px;
    left: 0;
}

.present h3 {
	font: 36px "PT-Web-Bold";
    color: #5a1b52;
    margin-top: 37px;
    margin-bottom: 113px;
}

.present__brand {
	margin-bottom: 128px;
}

.present__brand-item {
	width: 170px;
	height: 130px;
	display: inline-block;
	margin: 0 10px 20px;
	background-color: #fff;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	& img {
		position: absolute;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    top: 0;
	    margin: auto;
	    max-width: 100%;
	}
}

.present__earn h3 {
	margin-bottom: 65px;
}

.present__earn-item {
	margin-bottom: 37px;
}

.earn__img-wrapper {
	width: 51%;
	position: relative;
	overflow: hidden;
}

.earn__item-content {
	width: 40%;
	box-sizing: border-box;
	& h4 {
		color: #5a1b52;
		font-family: "PT-Web-Bold";
		font-size: 26px;
		text-align: left;
		margin-bottom: 48px;
		margin-top: 43px;
	}
	& p {
		color: #424242;
		font-family: "Lato-Regular";
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
	}

	button {
		float: left;
	}
}

.earn__item-right {
	float: right;
	margin-left: 1%;
}

.earn__item-left {
	float: left;
}

.earn__item-guarantee img {
	padding-top: 56px;
    padding-left: 29px;
}

.earn__item-guarantee h4 {
	margin-top: 44px;
}

.earn__item-guarantee {
    margin-bottom: 18px;
}

.earn__item-sale button {
	font-size: 14px;
    padding: 21px 42px 19px;
    margin-top: 80px;
}

.earn__item-sale h4 {
	margin-top: 43px;
}

.earn__item-sale img {
	padding-top: 5px;
}

.earn__item-individual button {
	min-width: 373px;
	margin-top: 56px;
}

.earn__item-individual h4 {
	margin-top: 62px;
}

.certificate {
	background-image: url(../img/certificate.png);
    background-position: 49.5% top;
    padding-bottom: 29px;
    position: relative;
    background-size: cover;
}

.certificate__content {
	width: 46%;
	float: left;
}

.certificate__form {
	float: right;
    margin-left: 12%;
    width: 31.5%;
    margin-top: 104px;
    text-align: center;
}

.certificate__form-mobile {
    display: none;
    text-align: center;
}

.certificate__content h3 {
	color: #424242;
    font-size: 48px;
    margin-bottom: 42px;
    margin-top: 144px;
    text-align: center;
    font-family:"PT-Web-Bold";
    & span {
    	color: #ac3f9f;
    }
}

.certificate__content p {
	color: #424242;
    font: 24px "Lato-Bold";
	margin-top: 42px;
    line-height: 34px;
    text-align: center;
    margin-right: 6px;
    & span {
    	color: #ac3f9f;
    }
}

.certificate__content ul {
    padding-left: 0;
    text-align: center;
    & li {
        list-style-type: none;
        border-right: 1px solid #7b9dbf;
        font-size: 40px;
        display: inline-block;
        font-weight: 700;
        font-family:"Lato-Bold";
        color: #424242;
        padding: 11px 33px;
        &:last-child {
            color: #2b5a8a;
            border-right: none;
        }
        & span {
            display: block;
            font-size: 20px;
            font-weight: 400;
            font-family: "Lato-Regular";
        }
    }
}

.certificate__content p.certificate__timer {
    font-size: 20px;
    margin-top: 59px;
    margin-bottom: 0;
}

.certificate__form h4 {
	color: #5a1b52;
    font: 36px "PT-Web-Bold";
    margin-top: 39px;
    margin-bottom: 16px;
}

.certificate__form p {
	font: 20px "Lato-Regular";
    color: #424242;
    margin-bottom: 24px;
    line-height: 27.5px;
    & span {
    	font-family: "Lato-Bold";
    	color: #823878;
    }
}

.certificate__form input,
.popup input {
	width: 100%;
    max-width: 370px;
    border-radius: 30px;
    background-color: #fff;
    padding: 19px 0;
    box-shadow: inset 0 2px 7px #c16f85;
    border: solid 1px #83397a;
    margin-top: 1.3rem;
    text-align: center;
    font-family: "Lato-Regular";
    margin-bottom: -7px;
    &:focus {
    	outline: none;
    }
}

.certificate__form button,
.popup button {
	background-image: linear-gradient(to top, #8f3f84, #67275f);
    transition: all ease .3s;    
    width: 100%;
    max-width: 370px;
    margin-top: 22px;
    outline: none;
    font: 15px "Lato-Bold";
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 2px 1px rgba(0,0,0,.95);
    border: 1px solid #3e0d37;
    padding: 20px 0;
    border-radius: 32px;
    &:hover {
    	background-image: linear-gradient(to bottom, #8f3f84, #67275f);
    	transition: all ease .3s;
    	cursor: pointer;
    }
}

.products {
    text-align: center;
    & h3 {
        color: #5a1b52;
        font-family: "PT-Web-Bold";
        font-size: 36px;
        font-weight: 700;
        margin-top: 82px;
        margin-bottom: 0;
    }
    & h4 {
        font-family: "PT-Web-Bold";
        font-size: 30px;
        font-weight: 700;
        color: #424242;
        margin-top: 34px;
        margin-bottom: 0;
    }
    & h5 {
        font-family: "Lato-Regular";
        font-size: 18px;
        font-weight: 400;
        color: #424242;
        margin-top: 22px;
    }
    & button {
        font: 15px "Lato-Bold";
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
        text-shadow: 2px 1px rgba(0,0,0,.95);
        -webkit-box-shadow: 0 3px 16px rgba(44,35,20,.5);
        -moz-box-shadow: 0 3px 16px rgba(44,35,20,.5);
        -o-box-shadow: 0 3px 16px rgba(44,35,20,.5);
        -ms-box-shadow: 0 3px 16px rgba(44,35,20,.5);
        box-shadow: 0 3px 16px rgba(44,35,20,.5);
        background-image: -webkit-linear-gradient(to bottom, #8f3f84, #67275f);
        background-image: -moz-linear-gradient(to bottom, #8f3f84, #67275f);
        background-image: -o-linear-gradient(to bottom, #8f3f84, #67275f);
        background-image: -ms-linear-gradient(to bottom, #8f3f84, #67275f);
        background-image: linear-gradient(to bottom, #8f3f84, #67275f);
        border: 1px solid #3e0d37;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -o-border-radius: 32px;
        -ms-border-radius: 32px;
        border-radius: 32px;
        padding: 20px 0;
        transition: all ease .3s;
        width: 372px;
        &:focus {
            outline: none;
        }
    }

}

.slider__wrapper {
    position: relative;
}

.next, .prev {
    position: absolute;
    cursor: pointer;
    width: 70px;
    height: 14px;
    z-index: 10;
}

.prev {
    background-image: url(../img/prev.png);
    left: 0;
    top: 32%;
}

.next {
    background-image: url(../img/next.png);
    right: 0;
    top: 32%;
}


.products .product__circle {
    width: 370px;
    height: 370px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}
.products .product__circle img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}
.products .slick-cloned {
    overflow: hidden;
}
.products .slick-slide {
    position: relative;
}
.products .product__circle {
    margin: 0 auto;
}
.products .slick-active:first-of-type {
    left: 100px;
    position: relative;
}
.products .slick-active {
    left: auto;
    z-index: 1;
    right: 70px;
}
.products .slick-active.slick-current {
    left: 70px;
}

.products .slick-active.slick-center {
    left: 0;
    z-index: 33333;
}
.products .slick-active.slick-slide .product__circle {
    border: 1px #b5c8db solid;
}

.products .slick-active.slick-center .product__circle {
    border: 1px wheat solid;
}

.products .slick-active.slick-current .product__circle {
    border: 1px #98bd8b solid;
}

.products .product__circle {
    background-color: #fff;
}
.products .product__slider {
    margin: 51px 0 45px;
}

.products .product__circle img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    display: block;
}

.products .slick-slide:focus {
    outline: none;
}

.products p {
    color: #424242;
    font-family: "Lato-Bold";
    font-size: 20px;
    text-align: center;
}

.products .colors {
    margin: 40px auto 0;
    text-align: center;
}

.products .colors div {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 25px;
    display: inline-block;
}


canvas {
    display: none !important;
}

.banner__timer {
    margin-top: -12px;
}

.banner__timer .timer-element  span {
    font-family: "Lato-Bold" !important;
    color: #424242 !important;
}

.banner__timer .timer-element {
    width: 50px !important;
    height: 50px !important;
}

.banner__timer .timer-separator {
    color: #7b9dbf !important;
    padding: 0px 0px !important;
    font-size: 0;
}

.banner__timer div {
    min-width: 450px !important;
    height: 70px !important;
}

@media (min-width: 2200px) {
    .present {
        bottom: -76px;
    }
}

@media (max-width: 1200px) {
	.header__title p {
		display: none;
	}

	.header__logo {
		margin-left: 10px;
	}

	.header__phone button {
		margin-right: 10px;
		margin-bottom: 5px;
	}

	.wrapper__banner {
		width: 65%;
		margin-left: 3%;
	}

	.wrapper__banner h1 {
		font-size: 60px;
	}

	.present__earn-item img {
		width: 100%;
	}

	.earn__item-left {
		margin-left: 1%;
	}

	.earn__item-right {
		margin-right: 1%;
	}

	.earn__item-content h4 {
		font-size: 21px;
	    margin-bottom: 30px;
	}

	.earn__item-content p {
		font-size: 16px;
   		line-height: 22px;
   	}

   	.earn__item-content button {
   		font-size: 14px;
   		padding: 19px 49px 17px;
   		margin-top: 0;
   	}

   	.earn__item-individual button {
   		margin-top: 36px;
   	}

   	.earn__item-sale button {
   		padding: 19px 40px 17px;
    	margin-top: 72px;
   	}

   	.certificate__content h3 {
   		font-size: 45px;
   	}

   	.certificate__content p {
   		font: 20px "Lato-Bold";
   	}

    .certificate__content ul li {
        font-size: 34px;
        padding: 11px 22px;
    }

   	.certificate__content p.certificate__timer {
   		font-size: 18px;
        margin-bottom: 0;
   	}

   	.certificate__form h4 {
   		font: 34px "PT-Web-Bold";
   	}

   	.certificate__form p {
   		font: 18px "Lato-Regular";
   	}

   	.certificate__form {
   		margin-right: 1%;
   	}

   	.present {
   		background-position: 67% bottom;
   	}

    .products .colors div {
        margin-right: 15px;
    }
    .banner__timer div {
        min-width: 340px!important;
        height: 70px!important;
    }
}

@media (max-width: 1025px) {
    .products .slick-active.slick-current {
        left: 65px;
    }

    .products .slick-active {
        right: 93px;
    }
}

@media (max-width: 961px) {
	.wrapper__banner h1 {
		font-size: 50px;
	}

	.wrapper__banner h2 {
		font-size: 24px;
	}

	.wrapper__banner ul {
		font-size: 16px;
	}

	.wrapper__banner button {
		padding: 22px 39px 19px;
	}

	.present h3 {
		font-size: 34px;
		margin-bottom: 85px;
	}

	.present__brand {
		margin-bottom: 74px;
	}

	.earn__item-content button {
		font-size: 12px;
    	padding: 19px 39px 17px;
	}

	.earn__item-content h4 {
		margin-top: 0px;
	}

	.earn__item-sale h4 {
		margin-top: 0px;
	}

	.earn__item-sale button {
	    padding: 19px 20px 17px;
	    margin-top: 12px;
	}

	.earn__item-guarantee h4 {
		margin-top: 72px;
	}

	.earn__item-individual button {
	    margin-top: 16px;
	    min-width: 250px;
	}

	.certificate__content h3 {
		font-size: 34px;
	}

	.certificate__content p {
		font: 18px "Lato-Bold";
	}

    .certificate__content ul li {
        font-size: 23px;
        padding: 7px 18px;
        & span {
            font-size: 16px;
        }
    }

	.certificate__form h4 {
		font: 32px "PT-Web-Bold";
	}

	.certificate__form p {
		font: 16px "Lato-Regular";
	}

	.certificate__form button {
		padding: 15px 0;
	}
}

@media (max-width: 767px) {
    .header__phone button {
    	width: 210px;
    	margin-top: 0px;
    }
    .banner__timer .timer-separator {
        height: 70px !important;
    }

    .banner__timer .timer-element span {
        font-size: 26px !important;
    }

    .banner__timer .timer-element span {
        font-size: 16px !important;
    }


    .header__phone a {
    	display: none;
    }

    .header__phone .header__mobile  {
		display: inline-block !important;
		float: left;
		& img {
			border: 1px solid #66275e;
    		border-radius: 50%;
		}
	}

    .wrapper__banner {
    	width: 100%;
    	margin-left: 1%;
    	margin-right: 1%;
    	& h1 {
    		font-size: 30px;
    		line-height: 40px;
    	}
    	& h2 {
    		font-size: 19px;
    	}
    }

    	.wrapper__banner ul {
    		font-size: 12px;
    		margin-top: 14px;
    	}

    	.wrapper__banner button {
    		padding: 22px 23px 19px;
    	}

    	.present {
    		padding-top: 59px;
    	}

    	.present h3 {
    		font-size: 24px;
    		margin-bottom: 55px;
    	}

    	.earn__item-content,
    	.earn__img-wrapper {
    		width: 98%;
    		margin-left: 1%;
    		margin-right: 1%;
    		float: none;
    	}

    	.earn__item-content  {
    		& h4,
    		& p {
    			text-align: center;
    		}
    	}

    	.earn__item-guarantee img,
    	.earn__item-sale img {
    		padding-left: 0;
    		padding-top: 0;
    	}

    	.earn__item-guarantee h4 {
    		margin-top: 0;
    	}

    	.earn__item-content button {	
    		width: 98%;
		    margin: 0 1%;
		    max-width: 350px;
		    margin: 0 auto;
		    float: none;
    	}

    	.certificate__content,
    	.certificate__form {
    		width: 98%;
    		margin-right: 0 1%;
    	}

    	.certificate {
    		position: relative;
		    background-size: 210%;
		    background-repeat: no-repeat;
		    min-height: 230px;
            padding-bottom: 12px;
    	}

    	.certificate__content h3, .present h3 {
    		font-size: 24px;
    	}

        .certificate__content ul  {
            display: none;
        }

    	.certificate__content p,
    	.certificate__content p.certificate__timer,
    	.certificate__form h4,
    	#certFormWrapper,
    	.certificate__form p {
    		display: none;
    	}

        .certificate__form-mobile {
            display: block;
            & button {
                font: 12px "Lato-Bold";
                margin-top: 21px;
                padding: 15px 0;
                background-image: linear-gradient(to top,#8f3f84,#67275f);
                transition: all ease .3s;
                width: 100%;
                max-width: 250px;
                margin-top: 22px;
                outline: none;
                font: 12px "Lato-Bold";
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 1px;
                text-shadow: 2px 1px rgba(0,0,0,.95);
                border: 1px solid #3e0d37;
                padding: 15px 0;
                border-radius: 32px;
                &:hover {
                    background-image: linear-gradient(to bottom,#8f3f84,#67275f);
                    transition: all ease .3s;
                    cursor: pointer;
                }
            }
        }

    	.certificate__form {
    		margin-top: 0;
    	}

    	.certificate__content h3 {
    		margin-bottom: 12px;
    		margin-top: 26%;
    	}

        .products button {
            width: 250px;
        }
    }


    @media (max-width: 755px) {
        .products .slick-active.slick-current {
            left: 0px;
        }

        .products .product__circle img {
            width: 42%;
        }

        .products .product__circle {
           width: 300px;
            height: 300px;
        }
    }


    @media (max-width: 577px) {

		.header__phone {
			margin-top: 20px;
			float:left;
		}
    }

.popup {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.8);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
    z-index: 20;
}

.form_wrapper {
    max-width: 372px;
    margin: 0 auto;
    background-color: #fcbccd;
    padding: 10px 20px;
    position: relative;
    & h6 {
        color: #5a1b52;
        font-family: "PT-Web-Bold";
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    & p {
        text-align: center;
    }
}

.form__close {
    top: 10px;
    right: 10px;
    width: 24px;
    height: 23px;
    background: url(../img/close.png);
    cursor: pointer;
    position: absolute;
}